{% extends "master.html" %}

{% block title %}
    {% load crispy_forms_tags %}
    <title>{{ meal.name }}</title>
{% endblock %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <div class="container mt-4">
        <h1>{{ meal.name }}</h1>
        <h3>Description <br/></h3>
        <p>{{ meal.description }}</p>
        <h3>Nutrition</h3>
        <table class="table table-hover mt-2" style="display: inline-block;">
                            <tbody>
                                <tr>
                                    <td><b>Calories (Kcal)</b></td>
                                    <td>{{ meal.calories }}</td>
                                </tr>
                                <tr>
                                    <td><b>Mass (g)</b></td>
                                    <td>{{ meal.mass }}</td>
                                </tr>
                                <tr>
                                    <td><b>Protein (g)</b></td>
                                    <td>{{ meal.proteins }}</td>
                                </tr>
                                <tr>
                                    <td><b>Fats (g)</b></td>
                                    <td>{{ meal.fats }}</td>
                                </tr>
                                <tr>
                                    <td><b>Carbohydrates (g)</b></td>
                                    <td>{{ meal.carbohydrates }}</td>
                                </tr>
                            </tbody>
        </table>
        <h3>Price: {{ meal.price }}€</h3>
        <h2>Comments</h2>
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
        {% else %}
        <p>Sign in to leave a comment</p>
        {% endif %}
        {% for comment in comments %}
            <div class="card mt-2">
              <div class="card-header"><b>{{ comment.username }} </b>
                  {% if user.is_superuser or comment.username == user.username %}
                  <a href="#" class="delete-comment" data-id="{{ comment.id }}">
                      <i class="bi bi-trash-fill text-danger fw-bold"></i>
                  </a>
                  {% endif %}
              </div>
              <div class="card-body">{{ comment.description }}</div>
              <div class="card-footer">{{ comment.created_at }}</div>
            </div>
        {% empty %}
            No comments yet.
        {% endfor %}
        <script>
            $(document).ready(function () {
                $('.delete-comment').click(function() {
                    var id = $(this).data('id');
                    $.ajax({
                        url: '/comment/delete/' + id + '/',
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(data) {
                            console.log('Success:', data);
                            location.reload();
                        },
                        error: function(error) {
                            console.error('Error:', error);
                        }
                    });
                });
            });
        </script>
    </div>
{% endblock %}