<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.task-checkbox').on('change', function () {
          var taskId = $(this).data('task-id');
          $.ajax({
            url: '/favorite/update/' + taskId + '/',
            type: 'POST',
            dataType: 'json',
            beforeSend: function (xhr) {
              xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            success: function (data) {
              if (data.status === 'success') {
                console.log('Task updated successfully');
              } else {
                console.error('Error updating task');
              }
            },
            error: function (xhr, status, error) {
              console.error('AJAX request failed with error: ' + error);
            }
          });
        });
      });
    </script>

    <div class="container mt-4">
      <div class="row d-flex align-items-center justify-content-center">
        {% for x in meals %}
          <div class="col-12 col-lg-6 col-xl-4 mb-4">
            <div class="card {% if text_color %} {{ text_color }} {% endif %}" style="height: 300px;">
              <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
              <div class="card-header">
                <h2 class="card-title">{{ x.name }}</h2>
              </div>
              <div class="card-body pt-1" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                {% if x.is_vegan %}<span class="badge bg-success">Vegan</span>{% endif %}
<!--                <span class="badge"> </span>-->
                <div style="overflow: hidden; text-overflow: ellipsis;"><p class="card-text" >{{ x.description }}</p></div>
                <div class="row align-items-center d-flex" style="position: absolute; width: 100%; bottom: 10px;">
                {% if user.is_authenticated %}
                  <div class="col-7">
                    <h2 class="card-text">{{ x.price }}€</h2>
                  </div>
                  <div class="col-1 text-right">
                    <input type="checkbox" class="task-checkbox" data-task-id="{{ x.id }}" {% if x.id in favorite_meals %}checked{% endif %}>
                  </div>
                {% else %}
                  <div class="col-8">
                    <h2 class="card-text">{{ x.price }}€</h2>
                  </div>
                {% endif %}
                <div class="col-4 text-right">
                  <a href="details/{{ x.id }}" class="btn {% if button_color %} {{ button_color }} {% endif %} btn-primary">See More</a>
                </div>
              </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>