
<div class="container mt-4">
    <div class="row d-flex align-items-center justify-content-center">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                  <input type="text" class="form-control form-control-lg" placeholder="Ieškoti" id="input_value">
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle btn-sm py-0" data-bs-toggle="dropdown">
                  Daugiau
                </button>
                <div class="dropdown-menu w-100">
                  <div class="row d-flex align-items-center justify-content-center">
                    <div class="row">
                      <div class="col">
                         <div class="form-check">
                             {% for x in categories %}
                                 <input class="form-check-input" type="checkbox" id="{{ x.id }}" name="option1" value="something" checked>
                                 <label class="form-check-label">{{ x.name }}</label>
                                 <br/>
                             {% endfor %}
                         </div>
                         <div class="form-check mt-2">
                             <input class="form-check-input" type="checkbox" id="is-vegan" name="option1" value="something">
                             <label class="form-check-label">Vegan</label>
                         </div>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Ieškoti" id="asaa">
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </form>
    </div>

</div>
<script>
    $(document).ready(function() {
        $('#input_value').on('input', function() {
            // Get the value of the text input
            var inputValue = $(this).val();

            // Send a POST request to your Django view
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    'input_value': inputValue,
                    'csrfmiddlewaretoken': '{{ csrf_token }}', // Include CSRF token for security
                },
                success: function(data) {
                    // Handle the response from the server if needed
                    $('#meals-container').html(data.meals);
                },
                error: function(error) {
                    // Update the content on success
                    console.log("aboba")
                }
            });
        });
    });
</script>
